*{
    margin: 0;
    padding: 0;
    
}
.navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: #DFD9B5;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    scroll-behavior: smooth;
    z-index: 99;
  }
  .Title h1{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color:#647D6E;
    padding-left: 70px;
    padding-top: 7px;
}
.Name h2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color:#647D6E;
    padding-left: 70px;
    padding-top: 10px;
}
body {
    height: 280vh;
    background-color: #DCBE86;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment:scroll;
}
.Preliminaries_Title h3{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:#647D6E;
    text-align: center;
    padding-top: 200px;
}
.Preliminaries {
    padding: 1vh 20vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Preliminaries img {
    box-sizing: content-box;
    margin: 55px;
    width: 38%;
    height: 38%;
    display: inline-block;
    color: white;
    position: relative;
    background-color: black;
    box-shadow: 0px 0px 7px #000;
  }
  .Inspiration_Title h4{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:#647D6E;
    text-align: center;
    padding-top: 70px;  
  }
  .Logo {
    box-sizing: border-box;
    padding-left:350px;
    padding-top: 70px;
    padding-bottom:30px;
    display: flex;
    position: relative;
  }
  .Logo img{
    align-items: center;
    clip-path: circle();
    height:500px;
    width:500px;
}
.container_1 {
  width: 500px;
  height: 300px;
  top:70px;
  background-color: #DFD9B5;
  padding: 30px;
  left:100px;
  display: flex;
  position: relative;
}
.container_1 p1{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color:#647D6E;
}
.links {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:#896E46;
    text-decoration: none;
    color: #896E46;
    padding: 0rem 1.5rem;
    text-decoration-color: #B3915A;
    transition: all 0.1s ease-in;
  
    &:hover {
      text-decoration: underline;
      text-decoration-color: #B3915A;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.2rem;
      text-shadow: 0px 0px 5px #B3915A;
    }
  }
.Website {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:#896E46;
    text-decoration: none;
    color: #896E46;
    padding: 0rem 1.5rem;
    padding-left: 370px;
    text-decoration-color: #B3915A;
    transition: all 0.1s ease-in;
  
    &:hover {
      text-decoration: underline;
      text-decoration-color: #B3915A;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.2rem;
      text-shadow: 0px 0px 5px #B3915A;
    }
}
.Instagram {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:#896E46;
    text-decoration: none;
    color: #896E46;
    padding: 0rem 1.5rem;
    text-decoration-color: #B3915A;
    transition: all 0.1s ease-in;
  
    &:hover {
      text-decoration: underline;
      text-decoration-color: #B3915A;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.2rem;
      text-shadow: 0px 0px 5px #B3915A;
    }
}
.Facebook {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color:#896E46;
    text-decoration: none;
    color: #896E46;
    padding: 0rem 1.5rem;
    text-decoration-color: #B3915A;
    transition: all 0.1s ease-in;
  
    &:hover {
      text-decoration: underline;
      text-decoration-color: #B3915A;
      text-decoration-skip-ink: none;
      text-underline-offset: 0.2rem;
      text-shadow: 0px 0px 5px #B3915A;
    }
}
  .Poster_Title h5{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:#647D6E;
    text-align: center;
    padding-top: 100px;  
  }
.Poster {
    padding-top: 70px;
    padding-left: 380px;
    display: flex;
  }

.Poster img{
    box-sizing: content-box;
    margin-right: auto;
    width: 33%;
    height: 33%;
    color: white;
    position: relative;
    box-shadow: 0px 0px 7px #000;
  }
  .container_2 {
    width: 500px;
    height: 440px;
    top:70px;
    background-color: #DFD9B5;
    padding: 30px;
    right: 350px;
    display: flex;
    position: relative;
}
.container_2 p2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color:#647D6E;
}